.msg {
  border: 1px solid;
  padding: 4px;
  text-align: center;
}

.msg-error {
  @extend .msg;
  border-color: #ff0000;
  color: #ff0000;
}

.msg-alert {
  @extend .msg;
  border-color: #ff80ff;
  color: #ff80ff;
}

a:hover {
  text-decoration: underline;
}

.hoverlink {
  @extend a:hover;
  color: red;
}