@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius; 
}

@mixin titulo($size, $color: blue){
  color: $color;
  font-size: $size;
}

@mixin pad($values...){
  padding: $values;
}

.box {
  @include border-radius(10px);
}

h1 {
  @include titulo(20px);
}

h2 {
  @include titulo(20px, #333);
}

p {
  @include pad(10px);
}

p {
  @include pad(10px 20px);
}

p {
  @include pad(10px 20px 10px);
}

p {
  @include pad(10px 20px 10px 20px);
}